/*Estilos da página index.html*/

body{
    background-color: #1C1C1C;
}

.center{
  text-align: center;
  font-size: 50px;
  font-family: Verdana;
  color: white;
}
.justify{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18;
    color: white;

}

.htxt{
    text-align: center;
    font-size: 30px;
    font-family: verdana;
    color:white;
}
.htexto{
    text-align: center;
    font-size: 15;
    font-family: verdana;
    color: red;
}

.container{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;


}
#menu li{
    color: indigo;
display: inline;
padding: 15px;
text-decoration: none;
}

#menu li a{

text-decoration: none;
color: rgb(0, 25, 247);
font-size: 30px;

}
#menu li a:hover{
    color:grey ;
}

.p-30{
    padding: 30px;

}
.tm-social{
width: 50px;
height: 50px;
}
.mb-50{
    margin-bottom: 50px;

}


.image{
    width: 600px;
    height: 500px;
    display: block;
     margin-left: auto;
     margin-right: auto;
    


}
.imagesobre{

    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*Estilos da página contato.html*/

.ml-50{
margin-left: 50px;

}